@media screen and (max-width: 768px) {
    #secHero {
        margin-top: 90px;
        flex-direction: column;
        justify-content: center;
    }

    .heroLeft {
        padding-left: 0;
    }

    .heroWidth {
        width: 100%;
    }

    #heroLeftCont {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .justify_wd {
        text-align: center;
    }

    #heroImg {
        -webkit-filter: drop-shadow(0 50px 50px #878787);
    }
}

@media screen and (max-width: 375px) {
    .navWrap {
        justify-content: center;
    }

    #navWrapRight {
        margin-top: -10px;
    }

    .heroWidth {
        width: 100%;
    }

    #secHero {
        margin-top: 90px;
        flex-direction: column;
        justify-content: center;
    }

    #heroLeftTitle {
        font-size: 40px;
    }
}