* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.cursor {
    cursor: pointer;
}

.headerWrap {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1;
}

.navWrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 0;
    border-right: 0;
    border-bottom: 3px;
    border-left: 0;
    border-color: green;
    border-style: solid;
    flex-wrap: wrap;
}

.navWrapLogoandLink {
    padding: 20px;
}

#secondNatureLogo {
    font-family: 'Bitter', serif;
    font-weight: 900;
    font-size: 20px;
    color: #4b8b26;
}

.headerLink {
    color: #000;
    text-decoration: none;
}

#linkContact, #linkAbout{
    margin-left: 80px;
}

#secHero {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
}

.heroLeft {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 50px;
}

#heroLeftTitle {
    font-family: 'Bitter', serif;
    font-size: 100px;
    font-weight: 800;
    margin-bottom: 10px;
}

#heroLeftDesc {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 35px;
}

#heroBtn {
    display: flex;
    flex-direction: row;
}

.btnHero {
    padding: 15px 60px;
    border: none;
    border-radius: 10px;
}

#btnOrder {
    background-color: #4b8b26;
    color: #fff;
    font-weight: bold;
    margin-right: 15px;
}

#btnCnt {
    background-color: #212121;
    color: #fff;
    font-weight: bold;
}

.heroRight {
    width: 50%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;

}

#heroImg {
    width: 150%;
    object-fit: cover;
    -webkit-filter: drop-shadow(50px 50px 50px #878787);
}



