* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.headerWrap {
    position: fixed;
    top: 0;
    width: 100%;
}

.navWrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 0;
    border-right: 0;
    border-bottom: 3px;
    border-left: 0;
    border-color: green;
    border-style: solid;
    flex-wrap: wrap;
}

.navWrapLogoandLink {
    padding: 20px;
}

#secondNatureLogo {
    font-family: 'Bitter', serif;
    font-weight: 900;
    font-size: 20px;
    color: #4b8b26;
}

.headerLink {
    color: #000;
    text-decoration: none;
}

#linkContact, #linkAbout{
    margin-left: 80px;
}

